<h6 class="big"> Current Conditions: </h6> <p>
{{#each weather}}
{{description}}
{{/each}}
</p>
<h6 class="big"> Current Temperature: </h6> <p>{{main.temp}} °F</p>
<h6 class="big"> Current Wind Speed: </h6> <p>{{wind.speed}} mph</p>
<h6 class="big"> Current Air Pressure: </h6> <p>{{main.pressure}} bar</p>
<button id='forecast3d' type="button" class="btn btn-default">3-Day Forecast</button>
<button id='forecast7d' type="button" class="btn btn-default">7-Day Forecast</button>