<h6> Current Conditions: </h6> <p>
{{#each weather}}
{{description}}
{{/each}}
</p>
<h6> Current Temperature: </h6> <p>{{main.temp}}</p>
<h6> Current Wind Speed: </h6> <p>{{wind.speed}}</p>
<h6> Current Air Pressure: </h6> <p>{{main.pressure}}</p>
<button id='forecast3d' type="button" class="btn btn-default"></button>
<button id='forecast7d' type="button" class="btn btn-default"></button>